body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#calculator {
    width: 300px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

button {
    width: 48px;
    height: 48px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

#history {
    text-align: left;
    margin-top: 20px;
}

#clear button{
    width: 110px;
}